<!--
    Page: home.ejs
    Name: Mahsa Dorri
    Student Id: 301257460
    Date: 1/29/2023
-->
<%- include partials/header.ejs %> 


<%- include partials/main_nav.ejs %> 



  <!--Main Content -->
  <main class="container mc-4 bg-transparent text-dark">
    <div class="jumbotron">
      <h1 class="display-8" style=text-align:center;> <%= title %> page</h1>

  <%- include('../views/partials/home.ejs')%>
  <%- include('../views/partials/about.ejs')%>
  <%- include('../views/partials/projects.ejs')%>
  <%- include('../views/partials/services.ejs')%>
  <%- include('../views/partials/contact.ejs')%>
    </div>
  </main>





  <%- include partials/bottom_nav %> 

 <%- include partials/footer.ejs %> 

   







